* {
    margin: 0%;
    padding: 0;
    overflow-x: hidden;



}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    background: rgb(24, 5, 43);
    color: white;
}

ul li {
    padding: 20px;
    float: right;
}



.todo {

    max-width: 500px;
    padding: 200px 200px;
    margin: 30px auto 40px;
    background: rgb(248, 243, 243);
    border-radius: 20px;
}

.todo .search {
    background: rgb(203, 190, 190);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-size: larger;
    font-weight: 300;
    padding: 10px;
    border-radius: 30px;
}

.search button {
    border: none;
    outline: none;
    border-radius: 30px;
    background: orangered;
    padding: 10px 15px;
    color: white;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;

}

.todo ul {
    display: flex;
    flex-direction: column;
}


footer {
    background: #000;
    color: white;
    display: flex;
    padding: 18px;
    justify-content: space-around;
}