*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    width: 50%;
    max-width: 540vh;
    
    margin: 20% auto ;
}

